body{
 background-color: #1144a3;
    height: 100vh;
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center; /*center horizentally */

   
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.top{
    display: flex;
    align-items: center;
    gap: 50px  ;
    margin-top: 3rem;
}

.Arrow{
    color: antiquewhite;
    height: 60px;
    cursor: pointer;
}

.frame{
    
    width: 1000px;
    height:460px;
    overflow: hidden;
}

.slider{
    display: flex;
    transition: all 1s ease;

}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border : 1px solid white;
    cursor: pointer;
}

.bottom{
   display: flex;
   gap: 30px;
   margin-top: -1rem;
}